<div>
  <h2 id="page-heading" data-cy="DataInputPeriodHeading">
    <span appTranslate="amSystemBackApp.dataInputPeriod.home.title">Data Input Periods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemBackApp.dataInputPeriod.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-data-input-period"
        [routerLink]="['/data-input-period/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemBackApp.dataInputPeriod.home.createLabel"> Create a new Data Input Period </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dataInputPeriods?.length === 0">
    <span appTranslate="amSystemBackApp.dataInputPeriod.home.notFound">No Data Input Periods found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dataInputPeriods && dataInputPeriods.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="openingDate">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.dataInputPeriod.openingDate">Opening Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="closingDate">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.dataInputPeriod.closingDate">Closing Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="period.name">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.dataInputPeriod.period">Period</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataInputPeriod of dataInputPeriods; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/data-input-period', dataInputPeriod.id, 'view']">{{ dataInputPeriod.id }}</a>
          </td>
          <td>{{ dataInputPeriod.openingDate | formatMediumDate }}</td>
          <td>{{ dataInputPeriod.closingDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="dataInputPeriod.period">
              <a [routerLink]="['/period', dataInputPeriod.period.id, 'view']">{{ dataInputPeriod.period.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/data-input-period', dataInputPeriod.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/data-input-period', dataInputPeriod.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dataInputPeriod)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
