<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="app-malaria-case-heading"
        data-cy="MalariaCaseCreateUpdateHeading"
        appTranslate="amSystemBackApp.malariaCase.home.createOrEditLabel"
      >
        Create or edit a Malaria Case
      </h2>

      <div>
        <app-alert-error></app-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" appTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.uuid" for="field_uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          <div *ngIf="editForm.get('uuid')!.invalid && (editForm.get('uuid')!.dirty || editForm.get('uuid')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.entryStarted" for="field_entryStarted">Entry Started</label>
          <div class="d-flex">
            <input
              id="field_entryStarted"
              data-cy="entryStarted"
              type="datetime-local"
              class="form-control"
              name="entryStarted"
              formControlName="entryStarted"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.lastSynced" for="field_lastSynced">Last Synced</label>
          <div class="d-flex">
            <input
              id="field_lastSynced"
              data-cy="lastSynced"
              type="datetime-local"
              class="form-control"
              name="lastSynced"
              formControlName="lastSynced"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.dateOfExamination" for="field_dateOfExamination"
            >Date Of Examination</label
          >
          <div class="input-group">
            <input
              id="field_dateOfExamination"
              data-cy="dateOfExamination"
              type="text"
              class="form-control"
              name="dateOfExamination"
              ngbDatepicker
              #dateOfExaminationDp="ngbDatepicker"
              formControlName="dateOfExamination"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfExaminationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.mobile" for="field_mobile">Mobile</label>
          <input type="text" class="form-control" name="mobile" id="field_mobile" data-cy="mobile" formControlName="mobile" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.gender" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'amSystemBackApp.Gender.null' | translate }}</option>
            <option *ngFor="let gender of genderValues" [value]="gender">{{ 'amSystemBackApp.Gender.' + gender | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.isPregnant" for="field_isPregnant">Is Pregnant</label>
          <input
            type="checkbox"
            class="form-check"
            name="isPregnant"
            id="field_isPregnant"
            data-cy="isPregnant"
            formControlName="isPregnant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.malariaTestResult" for="field_malariaTestResult"
            >Malaria Test Result</label
          >
          <select
            class="form-control"
            name="malariaTestResult"
            formControlName="malariaTestResult"
            id="field_malariaTestResult"
            data-cy="malariaTestResult"
          >
            <option [ngValue]="null">{{ 'amSystemBackApp.MalariaTestResult.null' | translate }}</option>
            <option *ngFor="let malariaTestResult of malariaTestResultValues" [value]="malariaTestResult">
              {{ 'amSystemBackApp.MalariaTestResult.' + malariaTestResult | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.severity" for="field_severity">Severity</label>
          <select class="form-control" name="severity" formControlName="severity" id="field_severity" data-cy="severity">
            <option [ngValue]="null">{{ 'amSystemBackApp.Severity.null' | translate }}</option>
            <option *ngFor="let severity of severityValues" [value]="severity">
              {{ 'amSystemBackApp.Severity.' + severity | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.referral" for="field_referral">Referral</label>
          <input type="checkbox" class="form-check" name="referral" id="field_referral" data-cy="referral" formControlName="referral" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.barImageUrl" for="field_barImageUrl">Bar Image Url</label>
          <input
            type="text"
            class="form-control"
            name="barImageUrl"
            id="field_barImageUrl"
            data-cy="barImageUrl"
            formControlName="barImageUrl"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'amSystemBackApp.EventStatus.null' | translate }}</option>
            <option *ngFor="let eventStatus of eventStatusValues" [value]="eventStatus">
              {{ 'amSystemBackApp.EventStatus.' + eventStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.seen" for="field_seen">Seen</label>
          <input type="checkbox" class="form-check" name="seen" id="field_seen" data-cy="seen" formControlName="seen" />
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.updated" for="field_updated">Updated</label>
          <div class="d-flex">
            <input
              id="field_updated"
              data-cy="updated"
              type="datetime-local"
              class="form-control"
              name="updated"
              formControlName="updated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.createdAtClient" for="field_createdAtClient"
            >Created At Client</label
          >
          <div class="d-flex">
            <input
              id="field_createdAtClient"
              data-cy="createdAtClient"
              type="datetime-local"
              class="form-control"
              name="createdAtClient"
              formControlName="createdAtClient"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.updatedAtClient" for="field_updatedAtClient"
            >Updated At Client</label
          >
          <div class="d-flex">
            <input
              id="field_updatedAtClient"
              data-cy="updatedAtClient"
              type="datetime-local"
              class="form-control"
              name="updatedAtClient"
              formControlName="updatedAtClient"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.deletedAt" for="field_deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              formControlName="deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.subVillage" for="field_subVillage">Sub Village</label>
          <select
            class="form-control"
            id="field_subVillage"
            data-cy="subVillage"
            name="subVillage"
            formControlName="subVillage"
            [compareWith]="compareOrganisationUnit"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="organisationUnitOption" *ngFor="let organisationUnitOption of organisationUnitsSharedCollection">
              {{ organisationUnitOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.createdBy" for="field_createdBy">Created By</label>
          <select
            class="form-control"
            id="field_createdBy"
            data-cy="createdBy"
            name="createdBy"
            formControlName="createdBy"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" appTranslate="amSystemBackApp.malariaCase.updatedBy" for="field_updatedBy">Updated By</label>
          <select
            class="form-control"
            id="field_updatedBy"
            data-cy="updatedBy"
            name="updatedBy"
            formControlName="updatedBy"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span appTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
