<div>
  <h2 id="page-heading" data-cy="RelationshipTypeHeading">
    <span appTranslate="amSystemBackApp.relationshipType.home.title">Relationship Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemBackApp.relationshipType.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-relationship-type"
        [routerLink]="['/relationship-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemBackApp.relationshipType.home.createLabel"> Create a new Relationship Type </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="relationshipTypes?.length === 0">
    <span appTranslate="amSystemBackApp.relationshipType.home.notFound">No Relationship Types found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="relationshipTypes && relationshipTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="uid">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.uid">Uid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="code">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="name">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="created">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updated">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.updated">Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="description">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="bidirectional">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.bidirectional">Bidirectional</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="fromToName">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.fromToName">From To Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="toFromName">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.toFromName">To From Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="referral">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.referral">Referral</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="fromConstraint.id">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.fromConstraint">From Constraint</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="toConstraint.id">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.toConstraint">To Constraint</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="createdBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updatedBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.relationshipType.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let relationshipType of relationshipTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/relationship-type', relationshipType.id, 'view']">{{ relationshipType.id }}</a>
          </td>
          <td>{{ relationshipType.uid }}</td>
          <td>{{ relationshipType.code }}</td>
          <td>{{ relationshipType.name }}</td>
          <td>{{ relationshipType.created | formatMediumDatetime }}</td>
          <td>{{ relationshipType.updated | formatMediumDatetime }}</td>
          <td>{{ relationshipType.description }}</td>
          <td>{{ relationshipType.bidirectional }}</td>
          <td>{{ relationshipType.fromToName }}</td>
          <td>{{ relationshipType.toFromName }}</td>
          <td>{{ relationshipType.referral }}</td>
          <td>
            <div *ngIf="relationshipType.fromConstraint">
              <a [routerLink]="['/relationship-constraint', relationshipType.fromConstraint.id, 'view']">{{
                relationshipType.fromConstraint.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="relationshipType.toConstraint">
              <a [routerLink]="['/relationship-constraint', relationshipType.toConstraint.id, 'view']">{{
                relationshipType.toConstraint.id
              }}</a>
            </div>
          </td>
          <td>
            {{ relationshipType.createdBy?.login }}
          </td>
          <td>
            {{ relationshipType.updatedBy?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/relationship-type', relationshipType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/relationship-type', relationshipType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(relationshipType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
