<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span appTranslate="amSystemBackApp.project.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemBackApp.project.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemBackApp.project.home.createLabel"> Create a new Project </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span appTranslate="amSystemBackApp.project.home.notFound">No Projects found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="projects && projects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="uid">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.uid">Uid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="code">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="name">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="shortName">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.shortName">Short Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="description">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="created">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updated">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.updated">Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="hidden">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.hidden">Hidden</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="order">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.order">Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="inactive">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.inactive">Inactive</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="createdBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updatedBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.project.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a>
          </td>
          <td>{{ project.uid }}</td>
          <td>{{ project.code }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.shortName }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.created | formatMediumDatetime }}</td>
          <td>{{ project.updated | formatMediumDatetime }}</td>
          <td>{{ project.hidden }}</td>
          <td>{{ project.order }}</td>
          <td>{{ project.inactive }}</td>
          <td>
            {{ project.createdBy?.login }}
          </td>
          <td>
            {{ project.updatedBy?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project', project.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project', project.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projects && projects.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
