<div>
  <h2 id="page-heading" data-cy="ProgramTempOwnerHeading">
    <span appTranslate="amSystemBackApp.programTempOwner.home.title">Program Temp Owners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemBackApp.programTempOwner.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-program-temp-owner"
        [routerLink]="['/program-temp-owner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemBackApp.programTempOwner.home.createLabel"> Create a new Program Temp Owner </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programTempOwners?.length === 0">
    <span appTranslate="amSystemBackApp.programTempOwner.home.notFound">No Program Temp Owners found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programTempOwners && programTempOwners.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="reason">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.programTempOwner.reason">Reason</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="validTill">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.programTempOwner.validTill">Valid Till</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="program.name">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.programTempOwner.program">Program</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="entityInstance.uid">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.programTempOwner.entityInstance">Entity Instance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="user.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.programTempOwner.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let programTempOwner of programTempOwners; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/program-temp-owner', programTempOwner.id, 'view']">{{ programTempOwner.id }}</a>
          </td>
          <td>{{ programTempOwner.reason }}</td>
          <td>{{ programTempOwner.validTill | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="programTempOwner.program">
              <a [routerLink]="['/program', programTempOwner.program.id, 'view']">{{ programTempOwner.program.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="programTempOwner.entityInstance">
              <a [routerLink]="['/tracked-entity-instance', programTempOwner.entityInstance.id, 'view']">{{
                programTempOwner.entityInstance.uid
              }}</a>
            </div>
          </td>
          <td>
            {{ programTempOwner.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/program-temp-owner', programTempOwner.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/program-temp-owner', programTempOwner.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(programTempOwner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
