<div>
  <h2 id="page-heading" data-cy="TrackedEntityTypeHeading">
    <span appTranslate="amSystemBackApp.trackedEntityType.home.title">Tracked Entity Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemBackApp.trackedEntityType.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tracked-entity-type"
        [routerLink]="['/tracked-entity-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemBackApp.trackedEntityType.home.createLabel"> Create a new Tracked Entity Type </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trackedEntityTypes?.length === 0">
    <span appTranslate="amSystemBackApp.trackedEntityType.home.notFound">No Tracked Entity Types found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="trackedEntityTypes && trackedEntityTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="uid">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.uid">Uid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="code">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="created">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updated">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.updated">Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="name">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="description">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="maxTeiCountToReturn">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.maxTeiCountToReturn">Max Tei Count To Return</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="allowAuditLog">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.allowAuditLog">Allow Audit Log</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="featureType">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.featureType">Feature Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="createdBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updatedBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.trackedEntityType.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trackedEntityType of trackedEntityTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tracked-entity-type', trackedEntityType.id, 'view']">{{ trackedEntityType.id }}</a>
          </td>
          <td>{{ trackedEntityType.uid }}</td>
          <td>{{ trackedEntityType.code }}</td>
          <td>{{ trackedEntityType.created | formatMediumDatetime }}</td>
          <td>{{ trackedEntityType.updated | formatMediumDatetime }}</td>
          <td>{{ trackedEntityType.name }}</td>
          <td>{{ trackedEntityType.description }}</td>
          <td>{{ trackedEntityType.maxTeiCountToReturn }}</td>
          <td>{{ trackedEntityType.allowAuditLog }}</td>
          <td appTranslate="{{ 'amSystemBackApp.FeatureType.' + trackedEntityType.featureType }}">{{ trackedEntityType.featureType }}</td>
          <td>
            {{ trackedEntityType.createdBy?.login }}
          </td>
          <td>
            {{ trackedEntityType.updatedBy?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tracked-entity-type', trackedEntityType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tracked-entity-type', trackedEntityType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(trackedEntityType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trackedEntityTypes && trackedEntityTypes.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
