<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="programStage">
      <h2 data-cy="programStageDetailsHeading"><span appTranslate="amSystemBackApp.programStage.detail.title">Program Stage</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ programStage.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.uid">Uid</span></dt>
        <dd>
          <span>{{ programStage.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.code">Code</span></dt>
        <dd>
          <span>{{ programStage.code }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.created">Created</span></dt>
        <dd>
          <span>{{ programStage.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.updated">Updated</span></dt>
        <dd>
          <span>{{ programStage.updated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.name">Name</span></dt>
        <dd>
          <span>{{ programStage.name }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.description">Description</span></dt>
        <dd>
          <span>{{ programStage.description }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.minDaysFromStart">Min Days From Start</span></dt>
        <dd>
          <span>{{ programStage.minDaysFromStart }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.repeatable">Repeatable</span></dt>
        <dd>
          <span>{{ programStage.repeatable }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.executionDateLabel">Execution Date Label</span></dt>
        <dd>
          <span>{{ programStage.executionDateLabel }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.dueDateLabel">Due Date Label</span></dt>
        <dd>
          <span>{{ programStage.dueDateLabel }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.autoGenerateEvent">Auto Generate Event</span></dt>
        <dd>
          <span>{{ programStage.autoGenerateEvent }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.validationStrategy">Validation Strategy</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemBackApp.ValidationStrategy.' + programStage.validationStrategy }}">{{
            programStage.validationStrategy
          }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.blockEntryForm">Block Entry Form</span></dt>
        <dd>
          <span>{{ programStage.blockEntryForm }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.openAfterEnrollment">Open After Enrollment</span></dt>
        <dd>
          <span>{{ programStage.openAfterEnrollment }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.generatedByEnrollmentDate">Generated By Enrollment Date</span></dt>
        <dd>
          <span>{{ programStage.generatedByEnrollmentDate }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.sortOrder">Sort Order</span></dt>
        <dd>
          <span>{{ programStage.sortOrder }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.hideDueDate">Hide Due Date</span></dt>
        <dd>
          <span>{{ programStage.hideDueDate }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.featureType">Feature Type</span></dt>
        <dd>
          <span appTranslate="{{ 'amSystemBackApp.FeatureType.' + programStage.featureType }}">{{ programStage.featureType }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.enableUserAssignment">Enable User Assignment</span></dt>
        <dd>
          <span>{{ programStage.enableUserAssignment }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.enableTeamAssignment">Enable Team Assignment</span></dt>
        <dd>
          <span>{{ programStage.enableTeamAssignment }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.inactive">Inactive</span></dt>
        <dd>
          <span>{{ programStage.inactive }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.periodType">Period Type</span></dt>
        <dd>
          <div *ngIf="programStage.periodType">
            <a [routerLink]="['/period', programStage.periodType.id, 'view']">{{ programStage.periodType.id }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.program">Program</span></dt>
        <dd>
          <div *ngIf="programStage.program">
            <a [routerLink]="['/program', programStage.program.id, 'view']">{{ programStage.program.name }}</a>
          </div>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.createdBy">Created By</span></dt>
        <dd>
          <span>{{ programStage.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.programStage.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ programStage.updatedBy?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/program-stage', programStage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
