<div>
  <h2 id="page-heading" data-cy="OrganisationUnitGroupSetHeading">
    <span appTranslate="amSystemBackApp.organisationUnitGroupSet.home.title">Organisation Unit Group Sets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="amSystemBackApp.organisationUnitGroupSet.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organisation-unit-group-set"
        [routerLink]="['/organisation-unit-group-set/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="amSystemBackApp.organisationUnitGroupSet.home.createLabel"> Create a new Organisation Unit Group Set </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organisationUnitGroupSets?.length === 0">
    <span appTranslate="amSystemBackApp.organisationUnitGroupSet.home.notFound">No Organisation Unit Group Sets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="organisationUnitGroupSets && organisationUnitGroupSets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="uid">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.uid">Uid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="code">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="name">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="created">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updated">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.updated">Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="compulsory">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.compulsory">Compulsory</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="includeSubhierarchyInAnalytics">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.includeSubhierarchyInAnalytics"
                >Include Subhierarchy In Analytics</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="inactive">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.inactive">Inactive</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="createdBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="updatedBy.login">
            <div class="d-flex">
              <span appTranslate="amSystemBackApp.organisationUnitGroupSet.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organisationUnitGroupSet of organisationUnitGroupSets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organisation-unit-group-set', organisationUnitGroupSet.id, 'view']">{{ organisationUnitGroupSet.id }}</a>
          </td>
          <td>{{ organisationUnitGroupSet.uid }}</td>
          <td>{{ organisationUnitGroupSet.code }}</td>
          <td>{{ organisationUnitGroupSet.name }}</td>
          <td>{{ organisationUnitGroupSet.created | formatMediumDatetime }}</td>
          <td>{{ organisationUnitGroupSet.updated | formatMediumDatetime }}</td>
          <td>{{ organisationUnitGroupSet.compulsory }}</td>
          <td>{{ organisationUnitGroupSet.includeSubhierarchyInAnalytics }}</td>
          <td>{{ organisationUnitGroupSet.inactive }}</td>
          <td>
            {{ organisationUnitGroupSet.createdBy?.login }}
          </td>
          <td>
            {{ organisationUnitGroupSet.updatedBy?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/organisation-unit-group-set', organisationUnitGroupSet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/organisation-unit-group-set', organisationUnitGroupSet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(organisationUnitGroupSet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="organisationUnitGroupSets && organisationUnitGroupSets.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
