<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demographicDataSource">
      <h2 data-cy="demographicDataSourceDetailsHeading">
        <span appTranslate="amSystemBackApp.demographicDataSource.detail.title">Demographic Data Source</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demographicDataSource.id }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.uid">Uid</span></dt>
        <dd>
          <span>{{ demographicDataSource.uid }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.code">Code</span></dt>
        <dd>
          <span>{{ demographicDataSource.code }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.name">Name</span></dt>
        <dd>
          <span>{{ demographicDataSource.name }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.created">Created</span></dt>
        <dd>
          <span>{{ demographicDataSource.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.updated">Updated</span></dt>
        <dd>
          <span>{{ demographicDataSource.updated | formatMediumDatetime }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.createdBy">Created By</span></dt>
        <dd>
          <span>{{ demographicDataSource.createdBy?.login }}</span>
        </dd>
        <dt><span appTranslate="amSystemBackApp.demographicDataSource.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ demographicDataSource.updatedBy?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demographic-data-source', demographicDataSource.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
